.nav-container-main{
    background: #517CB4;
    height: 56px;
    width: 100vw;
    display: flex;
    padding: 0 60px;
    margin: 0;
    align-items: center;
}

.nav-content{
    color: black;
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0 40px;
    font-weight: normal;
}

.left-container-main{
    display: flex;
    margin-left: 20%;
    margin-right: 0;
}

.right-container-main{
    display: flex;
    margin-left: 4%;
}

.vl {
    border-left: 2px solid black;
    height: 30px;
    position: absolute;
    left: 72%;
    margin-left: -3px;
    top: 30;
  }