.nav-container-main{
    background: rgba(81, 124, 180, 0.7);
    height: 56px;
    width: 100vw;
    display: flex;
    padding: 0 60px;
    margin: 0;
    align-items: center;
    position: fixed;
    top: 56px;
    left: 0;
    
}

.nav-content{
    color: black;
    font-family: Lato, sans-serif;
    margin: 0;
    padding-left: 400px;
    font-weight: normal;
    display: flex;
    list-style-type: none;
}

.nav-link h3{
    font-weight: 550;
}
.nav-link{
    color: black;
    padding: 20px;
    text-decoration: none;
}

.vl {
    border-left: 1px solid black;
    height: 30px;
    position: absolute;
    left: 75%;
    margin-right: 20px;
    margin-top: 24px;

  }

  
